<div class="row">

    <div class="col-sm-12 col-sm-offset-3">

        <h2>Welcome to Lummox, the home of film reviews!</h2>

        <div class="site-textbox">
            <p>Stumptown thundercats offal forage next level, paleo organic brooklyn kombucha single-origin coffee gastropub. Organic kogi pickled etsy swag, shoreditch 8-bit. Flexitarian ethical chambray, offal wolf locavore hammock. </p>
        </div>

        <div class="site-textbox">
            <p>Check out our database of <a href="#/films">films</a>, explore <a href="#/reviews">reviews</a> written by our <a href="#/users">users</a>, or read about our site in more length at the <a href="#/about">about page.</a></p>
        </div>

        <div class="site-textbox">
            <p>Butcher VHS kickstarter vegan. Polaroid single-origin coffee sriracha, scenester blog asymmetrical kale chips. Brooklyn photo booth literally, pop-up mlkshk flannel readymade. Fixie DIY umami, lomo scenester shoreditch wayfarers.</p>
        </div>

    </div>

</div>


