<div class="row">

    <div class="container">

        <h3>Browse reviews</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>Film</th>
                    <th>Title</th>
                    <th>Score</th>
                    <th>Author</th>
                    <th>Time</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="review in reviews">
                    <td><a href="#/viewfilm/{{review.review_film_id}}">{{review.film_title}}</a></td>
                    <td>{{review.review_title}}</td>
                    <td>{{review.review_score}}/100</td>
                    <td><a href="#/viewuser/{{review.review_author}}">{{review.user_name}}</a></td>
                    <td>{{review.review_datetime}}</td>
                    <td><a href="#/viewreview/{{review.review_id}}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-zoom-in"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

