<div class="row">

    <div class="col-sm-12 col-sm-offset-3">

        <h2>{{ username }}'s reviews</h2>

        <div class="sol-sm-12 film-reviews">
            <h2>Reviews</h2>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Score</th>
                    <th>Film</th>
                    <th>View</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="review in data.reviews">
                    <td>{{review.review_title}}</td>
                    <td>{{review.review_score}}</td>
                    <td><a href="#/viewfilm/{{review.review_film_id}}">{{ review.film_title }}</a></td>
                    <td><a href="#/viewreview/{{review.review_id}}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-zoom-in"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


