<div class="row">

    <div class="col-sm-12 col-sm-offset-3">

        <h3>{{ film.film_title }}<span ng-show="releaseYear"> ({{releaseYear}})</span></h3>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Release date</th>
                <th>Director</th>
                <th>Genre</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{film.film_release_date}}</td>
                <td>{{film.director_name}}</td>
                <td>{{film.film_genre}}</td>
            </tr>
            </tbody>
        </table>

        <div class="col-sm-12 site-textbox">
            <p>{{film.film_description}}</p>
        </div>
    </div>

</div>


