body {
  padding-top: 50px;
}
.site-header {
  padding: 40px 15px;
  text-align: center;
}

.site-textbox {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 2px;
}

.film-review {
    margin-bottom: 60px;
}
.film-review-title {
    margin-bottom: 5px;
}
.film-review-meta {
    margin-bottom: 20px;
    color: #999;
}

.review-textarea {
    rows: 20;
    cols: 80;
}

.table td {
    text-align: left;
}

.table th {
    text-align: left;
}